:root {
    --black: #000;
    --black-rgba-50: rgba(0, 0, 0, 0.5);
    --black-rgba-100: rgba(0, 0, 0, 1);
    --gray: #444;
    --white: #fff;
    --white-rgba-30: rgba(255, 255, 255, 0.3);
    --white-rgba-100: rgba(255, 255, 255, 1);
}