body, h1, h2, h3, h4 {
    margin: 0;
}

body, a {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: var(--normal);
    letter-spacing: 4pt;
    color: var(--white);
}

a {
    text-decoration: none;
}

button {
    border: 0;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

input {
    max-width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: var(--huge);
    text-transform: uppercase;
    background-color: transparent;
    border: 4pt var(--white) solid;
    border-radius: var(--huge);
    padding: var(--huge);
    color: var(--white);
    outline: none;
}

input.error {
    animation: changeErrorBorderOpacity 2s infinite;
}

@keyframes changeErrorBorderOpacity {
    0% {
        border-color: var(--white-rgba-100);
    }
    50% {
        border-color: var(--white-rgba-30);
    }
    100% {
        border-color: var(--white-rgba-100);
    }
}