header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--black);
    text-align: center;
}

header div.input {
    max-width: 100%;
}

header div.button {
    min-height: 80pt;
}

header button {
    margin-top: var(--huge-margin);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: var(--normal);
    color: var(--white);
    transition: font-size 0.1s ease;
}

header button:hover {
    font-size: var(--huge);
}

header article.header-logo figure {
    margin: 0;
}

header article.header-logo figure img {
    max-height: 50vh;
    width: 30vh;
    margin-bottom: var(--huge);
}
